<div class="card">
  <div class="card__head">
    <button class="card__btn card__btn_delete"></button>
    <div class="card__drag-field"></div>
    <button class="card__btn card__btn_edit"></button>
  </div>
  <div class="card__main">
    <div class="card__title">
      Новая задача 1
    </div>
    <div class="card__description">
      Сложное описание задачи говорит о том, что верстка должна быть усложнена и …
    </div>
    <div class="card__time">
      <b>Время:</b> 30 с
    </div>
  </div>
</div>
