<div class="card card_{{cardObject.status}}" cdkDrag>
  <div class="card__head">
    <button class="card__btn card__btn_delete" *ngIf='cardObject.status === "new"'></button>
    <div class="card__drag-field" cdkDragHandle></div>
    <button class="card__btn card__btn_edit"
    *ngIf='cardObject.status === "new" || cardObject.status === "in-progress"'></button>
    <button class="card__btn card__btn_show"
    *ngIf='cardObject.status === "done"'></button>
  </div>
  <div class="card__main">
    <div class="card__title">
      {{cardObject.title}}
    </div>
    <div class="card__description">
      {{cardObject.description}}
    </div>
    <div class="card__time">
      <b>Время:</b> 30 с
    </div>
  </div>
</div>
