@import '/src/gui.scss';

.board {
  $self: &;
  width: 100%;

  &__columns {
    display: flex;
    align-items: stretch;
    width: 100%;
    min-height: calc(100vh - 105px);
  }

  &__column {
    width: calc(100% / 3);

    &:not(:last-child) {
      border-right: 1px solid #DFDFDF;
    }

  }

  &__column_new {





    #{$self}__column-head {
      background-color: $yellow;
    }
  }

  &__column_in-progress {


    #{$self}__column-head {
      background-color: $red;
    }
  }
  &__column_done {


    #{$self}__column-head {
      background-color: $green;
    }
  }


  &__column-head {
    height: 51px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: Montserrat, sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;

    border-top: 1px solid #DFDFDF;
    border-bottom: 1px solid #DFDFDF;
  }

  &__column-body {
    height: calc(100% - 51px);
    padding: 16px 30px;

    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;

    height: calc(100vh - (105px + 51px));
    overflow-y: auto;
  }

  &__card-wrap {
    height: max-content;
    width: max-content;


  }

}


// ===== drag-and-drop styles =====
.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.board__card-wrap:last-child {
  border: none;
}

.board__column-body.cdk-drop-list-dragging .board__card-wrap:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
// ===== drag-and-drop styles end =====

:host ::ng-deep .card {
  margin-right: 30px;
  margin-bottom: 24px;
}
