<div class="board__columns">
  <div class="board__column board__column_new">
    <div class="board__column-head">Новые</div>
    <div class="board__column-body">
      <div class="board__card-wrap">
        <app-card></app-card>
      </div>
      <div class="board__card-wrap">
        <app-card></app-card>
      </div>
      <div class="board__card-wrap">
        <app-card></app-card>
      </div>
    </div>
  </div>
  <div class="board__column board__column_in-progress">
    <div class="board__column-head">Выполняются</div>
    <div class="board__column-body">

    </div>
  </div>
  <div class="board__column board__column_done">
    <div class="board__column-head">Готовы</div>
    <div class="board__column-body">

    </div>
  </div>
</div>
