<div class="board__columns">

  <div class="board__column board__column_new">
    <div class="board__column-head">Новые {{newCards.length}}</div>

    <div class="board__column-body"
      cdkDropListOrientation="horizontal"
      cdkDropList
      #newList="cdkDropList"
      [cdkDropListData]="newCards"
      [cdkDropListConnectedTo]="[inProgressList]"
      (cdkDropListDropped)="drop($event)">

      <div class="board__card-wrap" *ngFor="let item of newCards" >
        <app-card [cardObject] = "item" (cardEvent)="cardEvent($event)"></app-card>
      </div>
    </div>
  </div>

  <div class="board__column board__column_in-progress">
    <div class="board__column-head">Выполняются {{inProgressCards.length}}</div>

      <div class="board__column-body"
        cdkDropListOrientation="horizontal"
        cdkDropList
        #inProgressList="cdkDropList"
        [cdkDropListData]="inProgressCards"
        [cdkDropListConnectedTo]="[doneList]"
        (cdkDropListDropped)="drop($event)">

        <div class="board__card-wrap" *ngFor="let item of inProgressCards">
          <app-card [cardObject] = "item" (cardEvent)="cardEvent($event)"></app-card>
        </div>
      </div>
  </div>

  <div class="board__column board__column_done">
    <div class="board__column-head">Готовы {{doneCards.length}}</div>

      <div class="board__column-body"
        cdkDropListOrientation="horizontal"
        cdkDropList
        #doneList="cdkDropList"
        [cdkDropListData]="doneCards"
        (cdkDropListDropped)="drop($event)">

        <div class="board__card-wrap" *ngFor="let item of doneCards">
          <app-card [cardObject] = "item" (cardEvent)="cardEvent($event)"></app-card>
        </div>
      </div>
  </div>

</div>
