<header class="header">
  <div class="header__wrap">
    <app-create-task-btn (btnClick)='newTask()'></app-create-task-btn>
  </div>
</header>

<main class="main">
  <app-board
    [сardsArrs]='cardsArrs'
    [newCards] = 'newCards'
    [inProgressCards] = 'inProgressCards'
    [doneCards] = 'doneCards'
    (changeStatusTask)=changeStatusTask($event)
    (deleteTask)=deleteTask($event)>
  </app-board>
</main>

<div class="modal-wrap" *ngIf="showModal">
  <div class="bg-grey"></div>
  <app-card-modal class="modal-container"
  [modalOptions] = 'modalOptions' [action] = 'action'
  (closeModal)='closeModal()' (saveModal)='saveModal($event)'></app-card-modal>
</div>
